body {
  margin: 0;
  box-sizing: border-box;
  font-family: tahoma;
  font-size: 16px;
}

.flex-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
}
.photo-container {
  background-image: url(../images/LW_2019_47_PAPAYA_01082019_LOOK9_596.png);
  background-repeat: no-repeat;
  background-position: center center;

  background-color: #e3cfcf;
  background-size: contain;
  width: 50%;
}
img {
  max-width: 100%;
  height: auto;
}
main article {
  background: #e3cfcf;
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}
article h1 {
  width: 60%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 32px;
  font-weight: normal;
}
article p {
  width: 60%;
  font-size: 18px;
}
main button {
  width: 20%;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 3%;
  transition: 0.3s ease-in;
}
button:hover {
  background-color: #a27c7c;

  cursor: pointer;
}

.animate-paragraph {
  animation: appear 2s ease-in;
}
.animate-header {
  animation: header-animation 1s linear;
}
@keyframes header-animation {
  0% {
    opacity: 0;
    transform: scale(1.5);
    transform: translateY(-300px);
    color: grey;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 375px) {
  .flex-wrapper {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .photo-container {
    width: 100%;
    height: 50%;
    background-size: cover;
  }

  main article {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
  }
  article h1 {
    width: 80%;
    text-transform: uppercase;
    font-size: 25px;
  }
  article p {
    width: 90%;
    font-size: 16px;
  }
  main button {
    width: 40%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3%;
  }
}
